{% extends "base.html" %}

{% block title %}Portfolio List{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="my-4">My Portfolio</h2>
    <div class="row g-4">
        {% for item in items %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card shadow-sm border-0 rounded-lg overflow-hidden">
                <img class="card-img-top" src="{{ item.image.url }}" alt="Card image" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h4 class="card-title mb-3">{{ item.title }}</h4>
                    <a href="{% url 'portfolio_detail' item.id %}" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
